.testimonial-svg-height{
    height: 200px;
}

.testimonial-width{
    width: 100%;
}

/* mobile  */
@media screen and (max-width: 425px) {
    .testimonial-svg-height{
        height: 250px;
    }
    .testimonial-width{
        width: 105%;
    }
}  

/* tablet  */
@media screen and (min-width: 425px) and (max-width: 720px) {
   

}

